.product-container__item{
    flex-direction: column;
    border: 1px solid rgba(0,0,0, 0.2);
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 30px;
}

.product-container__item-title{
    font-size: 16px;
}

.product-container__item-last-child{
    margin-bottom: 20px;
}

.product-container__item-selector{
    border-top: 1px solid #e5e5e5;
    justify-content: space-between;
    padding-top: 20px;
}

.product-container__item-selector__select{
    width: calc(50% - 10px);
}

@media(min-width:991px){
    .product-container__item{
        width: calc(50% - 15px);
    }
}